@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

video {
  background: white;
}

 @layer components {
  .btn-primary {
    @apply bg-gradient-to-tr from-[#023f52e1] via-[#0d3c88] to-[#033f47] hidden lg:text-sm px-4 lg:p-2 lg:px-10 rounded-3xl border-2 active:scale-95 ; 
  }

  .anchor-custom{
    @apply hover:underline underline-offset-4 text-white text-base;
  }

  .input-primary {
    @apply bg-grey px-6 py-2 focus:outline-none textfont1 font-light rounded-md;
  }
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
